{%extends 'layout/base.html'%}
{% block title %}Quản lý học sinh{% endblock %}

{%block content%}
<!-- HEADER -->
    <header class="hero">
        <div class="hero-overlay">
            <h1 class="hero-title">TRƯỜNG TRUNG HỌC PHỔ THÔNG</h1>
            <p class="hero-subtitle">Nền tảng quản lý học sinh hiện đại, trực quan và tiện lợi</p>
        </div>
    </header>

    <!-- MAIN SECTION -->
    <main class="main-section">
        <h2 class="section-title">Tính năng nổi bật</h2>


        <div class="gallery">
            <div class="gallery-item">
                <img src="https://res.cloudinary.com/dgqx9xde1/image/upload/v1744899478/PhanMemQuanLyHocSinh_rleyou.png" alt="Phần mềm 1">
                <p>Giao diện thân thiện, dễ sử dụng </p>
            </div>
            <div class="gallery-item">
                <img src="https://res.cloudinary.com/dgqx9xde1/image/upload/v1744899836/AppStu1_twerm1.jpg" alt="Phần mềm 2">
                <p>Quản lý lớp học hiệu quả</p>
            </div>
            <div class="gallery-item">
                <img src="https://res.cloudinary.com/dgqx9xde1/image/upload/v1744899843/AppStu2_kxp5ua.webp" alt="Phần mềm 3">
                <p>Hỗ trợ học tập từ xa</p>
            </div>
        </div>
    </main>
{%endblock%}